.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #28282b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #6200ea;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  iframe {
    border: none;
    margin-top: 20px;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    flex-direction: row; /* Change from column to row for side-by-side layout */
  }
  
  /* ... Existing styles ... */
  
  button {
    background: none; /* Remove background color */
    margin: 0 40px; /* Increase side margins for spacing */
    font-size: 30px; /* Make icons slightly larger */
    color: red; /* Set default icon color */
  }
  
  button:hover {
    transform: scale(1.25);
  }
  
  button .fa-heart {
    color: #09c11c;
  }
  
  .song-container {
    opacity: 1;
    transition: transform 1s, opacity 1s;
  }
  
  .song-container.like {
    transform: translateX(100%);
    opacity: 0;
  }
  
  .song-container.dislike {
    transform: translateX(-100%);
    opacity: 0;
  }
  
  .fade-in {
    opacity: 1;
    transition: opacity 0.5s;
  }
  
  /* ... Existing styles ... */
  
  .sidebar {
    /* overflow-y: auto; */
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: rgb(28, 28, 28);
    padding: 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border: 2px;
    flex-direction: column;
    align-items: flex;
    border-color: #28282b;
    overflow-y: auto;
  }
  
  h2 {
    color: #f0f0f0;
    text-align: center;
    font-size: 1.5rem;
    margin-left: px;
    margin-bottom: 10px;
  }
  
  .liked-song {
    background-color: rgb(28, 28, 28);
    color: #f0f0f0;
  
    /* font-weight: bold; */
  
    justify-content: space-between;
  
    align-items: left;
    padding: 10px;
    /* border-bottom: 1px solid #ccc; */
    transition: background-color 0.3s;
    border-radius: 10px; /* Add rounded corners */
    /* box-shadow: 2px 2px 5px rgba(149, 9, 9, 0.1); Add a subtle shadow */
  }
  
  .liked-song:hover {
    background-color: black;
  }
  
  .artist-name {
    color: grey;
    font-style: italic;
    font-size: 0.8em;
  
    align-items: left;
  }
  
  .liked-song i {
    font-size: 1.5rem;
    color: #09c11c;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .liked-song i:hover {
    transform: scale(1.1);
  }
  
  .favorite-artist-section {
    margin-top: -20px;
  }
  
  .favorite-artist-section h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  
  .favorite-artist-section div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
  }
  
  .favart {
    margin-left: 50px;
    margin-right: 35px;
    width: 200px;
    padding: 0;
    background-color: #28282b;
    text-decoration: none; /* Remove underline */
    color: white; /* Change text color to white */
  }
  .favart a {
    text-decoration: none; /* Remove underline */
    color: white; /* Change text color to white */
  }