.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #28282b;
    color: white;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background-color: rgb(28, 28, 28);
    border-radius: 8px;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 48px;
  }
  
  .login-form input {
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    border-color: white;
    border-width: 1px;
    border-radius: 0px;
    background-color: rgb(28, 28, 28);
    font-size: 18px;
  }
  
  .login-form button {
    padding: 10px 20px;
    background-color: #1fdf64;
    margin-top: 20px;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
  }
  
  .login-form button:hover {
    background-color: green;
  }
  
  .login-container p {
    margin-top: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.534);
    font-size: 16px;
  }
  
  .login-container button {
    margin-top: 10px;
    text-align: center;
    font-size: large;
    cursor: pointer;
  }
  .signup-link {
    color: white;
    cursor: pointer;
    font-size: large;
    text-decoration: underline;
  }

  .gmlogin-image {
    width: 370px; /* Set the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-top: -200px;
    margin-bottom: -80px;
    /* margin-bottom: 20px; Adjust the margin as needed */
  }
  
  