.userInfo {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: rgb(28, 28, 28);
  width: 295px; /* Cover entire width */
  color: #fff;
  z-index: 1000;
  border-bottom-right-radius: 8px;
  align-items: center; /* Align items in the center vertically */
}

.userInfo p {
  font-size: 1.5rem;
  display: flex;
  font-weight: 600;
}
